<div class="navbar navbar-expand-lg navbar-light navbar-lewagon row mr-0 ml-0">
    <div class="col-lg d-flex justify-content-end px-0">
        <ul class="navbar-nav text-center">
            <li class="nav-item">
                <a class="nav-link" href="./">go back</a>
            </li>
        </ul>
    </div>
</div>

<section class="background-radial-gradient overflow-hidden">
    <div class="container px-4 py-2 px-md-5 text-lg-start my-5">
        <div class=" mb-5 mb-lg-0 position-relative">
            <div class="bg-glass">
                <div class="card px-4 py-5 px-md-5" id="form">
                    <head>
                        <title>Corporation Game</title>
                    </head>
                    <body>
                    <h1>Corporation Game</h1>
                    <p>Corporation is a big-group indoor memory game and guessing game. Entertaining and great for teens and adults.</p>
                    <h2>What you need to play:</h2>
                    <ul>
                        <li>5-12 people.</li>
                        <li>All in the same room or the same virtual call.</li>
                        <li>Each has their own phone, computer, or tablet.</li>
                    </ul>
                    <h2>Game objectives:</h2>
                    <ul>
                        <li>Try to guess other players' names to have them join your corporation.</li>
                        <li>Win the game by getting everyone under your corporation.</li>
                    </ul>
                    <h2>Gameplay flow</h2>
                    <ul>
                        <li>Round length: 8-15 minutes. Shorter for smaller groups, longer for larger ones.</li>
                        <li>The name: before the round starts, each player enters their name for that round. Usually a celebrity or famous character, but it could be a made-up name too. Mostly, it should be a name that other players wouldn't immediately associate with you (this is an important strategy for winning the game)</li>
                        <li>The announcement: once the counter ends, the host reads all the names out loud, probably a couple of times, just to make sure that everyone knows all of the names. Players should listen carefully when the names are read aloud, because that's the last time they'll hear them.</li>
                    </ul>
                    <p>Game begins!</p>
                    <p>At first, it’s everyone for themselves, and the object for each player is to form the biggest “corporation” by pulling other players onto their team. Players take turns guessing which name another player wrote. If the guess is correct, the guesser gets that player on his or her corporation. If the guess is incorrect, the guessed player gets a turn to guess somebody else’s name.</p>
                    <h3>Example Scenario:</h3>
                    <p><i>Person 1 to Person 2: "Are you Tony Hawk?"<br>
                    Person 2: "Yes."<br>
                        (Person 2 now becomes a part of Person 1's corporation.)<br>
                        Person 1 to Person 3: "Are you Socrates?"<br>
                        Person 3: "No."<br>
                        (It is now Person 3's turn.)<br>
                        Person 3 to Person 1: "Are you Mickey Mouse?"<br>
                        Person 1: "Yes."<br>
                        (Person 1 and 2 both become a part of Person 3's corporation)</i></p>
                    <h2>Winning the game</h2>
                    <p>In the end, one giant corporation will have one player at the head, and that player is the winner.</p>
                    </body>
                </div>
            </div>
        </div>
    </div>
</section>
